<section>
  <img src='<%= @info['Poster'] %>'>
</section>

<section>
    <h2><li><a'<%= @info['Title'] %>'><%= @info['Title'] %></a></li></h2>
    <li><%= @info['Year'] %></li>
    <li><%= @info['Genre'] %></li>
    <li><%= @info['Plot'] %></li>
</section>
